<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="Caio Rodrigo, Fernando Bonatto, Bruno Brito, Victor Talge e Pedro">
  <title>Telemedicina USJT</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="pginicial.component.scss" rel="stylesheet" />
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end-0 bg-lime" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom-0 bg-lime">Telemedicina USJT</div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-lime p-3" href="#!">Perfil</a>
        <a class="list-group-item list-group-item-action list-group-item-lime p-3" href="#!">Consultas</a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-lime border-bottom-0">
        <div class="container-fluid">
          <button class="btn" id="sidebarToggle"><i class="fas fa-align-justify text-light"></i></button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <button class="btn">
                <a href="#!" class="nav-link">Início</a>
              </button>
              <button class="btn">
                <a routerLink="" class="nav-link">Sobre</a>
              </button>
              <button class="btn btn-info">
                <a class="nav-link" routerLink="login">Entrar</a>
              </button>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Page content-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 border">
            <div class="row">
              <h1 class="text-lime mt-4">É momento de cuidar <br> das pessoas e de si</h1>
            </div>
            <div class="row">
              <div class="col-5"><img src="assets/Imagem1.png" width="100%"></div>
              <div class="col-7">
                <p class="h5">
                  Nós do TeleUSJT temos o compromisso de ajudar você, facilitando a sua consulta com um profissional sem
                  a necessidade de sair de casa, protegendo a população do COVID-19!
                </p>
              </div>

            </div>
          </div>
          <div class="col-6 border">
            <p class="h1 mt-4">Passe em uma consulta já</p>
            <button routerLink="/register" class="btn btn-lime">CADASTRE-SE</button>
          </div>

          <!-- <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p> -->
          <!-- <p>
                        Make sure to keep all page content within the
                        <code>#page-content-wrapper</code> . The top navbar is optional, and just for demonstration. Just create an element with the
                        <code>#sidebarToggle</code> ID which will toggle the menu when clicked.
                    </p> -->
        </div>
      </div>
      <div class="container-fluid bg-primary h-50">
        <h1>Sobre Nós</h1>
      </div>
      <div class="container-fluid bg-light h-50">
        <h1>Rodapé</h1>
      </div>

    </div>
  </div>

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/38836afb8b.js" crossorigin="anonymous"></script>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>

</html>
